{% extends "TVChefBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Erreur {{ status_code }}
{% endblock %}

{% block chef_body %}
    <section>

        <h2>Oops! Il semble avoir eut une erreur</h2>

        <h2>Le serveur retourne "{{ status_code }} {{ status_text }}".</h2>

       <a class="btn" href="{{ path('tv_chef_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> Retour à l'accueil</a>
        
    </section>

{% endblock %}