<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Chef @ Home est votre site vous permettant d'apprendre à cuisiner tous les types de recettes" />
        <title>{% block title %}Chef @ Home{% endblock %}</title>
        
        <link href="{{ asset('chef/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('chef/css/responsive.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('chef/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
        
        {% block stylesheets %}{% endblock %}
        
    </head>

    <body>
        <header>
            <div class="container">
                <div class="connexion">
                    <ul>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li id="user">
                                <a id="user_name"  href="#"><i class="fa fa-user" aria-hidden="true"></i> {{ app.user.username }}</a>
                                <ul class="menu_connexion">
                                    <li><a href="{{ path('tv_chef_recipe_add') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ajouter une recette</a></li>
                                    <li><a href="{{ path('tv_user_view', {'id': app.user.id}) }}"><i class="fa fa-cog" aria-hidden="true"></i> Profil</a></li>
                                    <li><a href="{{ path('tv_user_my_recipes', {'id': app.user.id}) }}"><i class="fa fa-files-o" aria-hidden="true"></i> Mes Recettes</a></li>
                                    <li><a href="{{ path('tv_user_follow_index') }}"><i class="fa fa-address-book" aria-hidden="true"></i> Mes Cuistots</a></li>
                                    <li><a href="{{ path('tv_chef_notebook_index') }}"><i class="fa fa-book" aria-hidden="true"></i> Mon carnet</a></li>
                                    <li><a href="{{ path('tv_chef_liste_index') }}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Ma liste de course</a></li>
                                    {% if is_granted('ROLE_ADMIN')%}
                                        <li><a href="{{ path('tv_admin_index') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> Admin</a></li>
                                    {% endif %}
                                    <li class="last"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off" aria-hidden="true"></i> Déconnexion</a></li>
                                </ul>
                            </li>

                        {% else %}
                            <li class="inline"><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            |
                            <li class="inline"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        {% endif %}

                </div>
                <div class="responsive-btn">
                    <i class="fa fa-bars hamburger-icon" aria-hidden="true"></i>
                    <i class="fa fa-times exit-menu" aria-hidden="true"></i>
                </div>

                <img id="logo" src="{{ asset('chef/images/logo.png') }}" alt="Logo" />
                <h1>Chef <span>@</span> Home</h1>

            </div>
            <div class="clearfix"></div>
        </header>
        
        <nav>
            <div class="container">
                <ul class="menu">
                    <li><a href="{{ path('tv_chef_homepage') }}">Accueil</a></li>
                    <li id="recipe-menu"><a href="{{ path('tv_chef_recipe_index') }}">Recettes <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="submenu">
                            <div class="container">
                                <ul>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Les Bases'}) }}">Les bases</a></li>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Apéritifs'}) }}">Apéritifs</a></li>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Cocktails'}) }}">Cocktails</a></li>
                                </ul>
                                <ul>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Entrées'}) }}">Entrées</a></li>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Plats'}) }}">Plats</a></li>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Desserts'}) }}">Desserts</a></li>
                                </ul>
                                <ul>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'category': 'Locaux et de saison'}) }}">Recettes avec ingrédients locaux et de saison</a></li>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'category': 'Végétariennes'}) }}">Recettes végétariennes</a></li>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'category': 'Végétaliennes'}) }}">Recettes végétaliennes</a></li>
                                </ul>
                                <ul class="last">
                                    <li><a href="{{ path('tv_chef_recipe_index', {'category': 'Sans-gluten'}) }}">Recettes sans gluten</a></li>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'locality': 'Régional'}) }}">Recettes régionales</a></li>
                                    <li><a href="{{ path('tv_chef_recipe_index', {'locality': 'Du Monde'}) }}">Recettes du monde</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="vege"><a href="{{ path('tv_chef_recipe_index', {'category': 'Végétariennes'}) }}">Recettes végétariennes</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'category': 'Végétaliennes'}) }}">Recettes végétaliennes</a></li>
                    <li class="last"><a href="{{ path('tv_user_index') }}">Les Cuistots</a></li>
                </ul>
            </div>
        </nav>

        <nav class="responsive-menu">
            <ul>
                <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li>
                <li><a href="recettes.html"><i class="fa fa-file-text" aria-hidden="true"></i> Recettes</a></li>
                <li><a href="cuistots.html"><i class="fa fa-users" aria-hidden="true"></i> Les Cuistots</a></li>
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Arthur24</a></li>
            </ul>
        </nav>

        {% block body %}{% endblock %}

        <footer>
            <div class="container">
                <ul>
                    <li><a href="{{ path('tv_chef_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index') }}">Recettes</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'category': 'Végétariennes'}) }}">Recettes végétariennes</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'category': 'Végétaliennes'}) }}">Recettes végétaliennes</a></li>
                    <li><a href="{{ path('tv_user_index') }}">Les Cuistots</a></li>
                </ul>
                <ul>
                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Les Bases'}) }}">Les bases</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Apéritifs'}) }}">Appéritifs</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Entrées'}) }}">Entrées</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Plats'}) }}">Plats</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Desserts'}) }}">Desserts</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'type': 'Cocktails'}) }}">Cocktails</a></li>
                </ul>
                <ul class="last">
                    <li><a href="{{ path('tv_chef_recipe_index', {'category': 'Locaux et de saison'}) }}">Recettes avec ingrédients locaux et de saison</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'category': 'Sans-gluten'}) }}">Recettes sans gluten</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'locality': 'Régional'}) }}">Recettes régionales</a></li>
                    <li><a href="{{ path('tv_chef_recipe_index', {'locality': 'Du Monde'}) }}">Recettes du monde</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </footer>
        
        <script>
            var path = "{{ path('tv_chef_search_autocomplete') }}";
        </script>
        <script src="{{ asset('chef/js/jquery-3.1.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('chef/js/jquery-ui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('chef/js/responsive-menu.js') }}" type="text/javascript"></script>
        <script src="{{ asset('chef/js/menu.js') }}" type="text/javascript"></script>
        <script src="{{ asset('chef/js/search.js') }}" type="text/javascript"></script>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
