{% for recipe in listRecipes %}
    {% if count == 0 or count%3 == 0 %}<div class="row"> {% endif %}
    {% set count = count + 1 %}
    <a class="link-recipe" href="{{ path('tv_chef_recipe_view', {'id': recipe.id}) }}">
        <div class="polaroid recipe{% if loop.index is odd %} left {%else%} right{%endif%} {% if loop.index == 3 or loop.index%3 == 0 %}last{%endif%}">
            <img class="picture" src="{% if recipe.image.webPath is defined %}{{ asset(recipe.image.webPath) }}{%else%}{{ asset('chef/images/default.jpg') }}{%endif%}" alt="{%if recipe.image.alt is defined%}{{ recipe.image.alt }}{%else%}Default{%endif%}" />
            <h3>{{ recipe.name }}</h3>
            <div class="absolute note">
                {% if recipe.star != 0 %}
                    {% for i in 1..recipe.star %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="absolute level">
                {% for i in 1..recipe.level.id %}
                    <img src="{{ asset('chef/images/level2.png') }}" alt="level">
                {% endfor %}
            </div>
        </div>
    </a>
    {% if count == 3 or count%3 == 0 or loop.last %}<div class="clearfix"></div> </div>{% endif %}
{% else %}
    <div>
        <h2>Aucun résultat</h2>
    </div>
{% endfor %}

{% if count != 0 %}
    <div class="clearfix"></div>
    <div class="pagination-container">
        <div class="fixer-container">
            <ul class="pagination">
                {% for p in range(1, nbPages) %}
                    <li>
                        <a href="{{ path('tv_chef_recipe_index') }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
<div class="clearfix"></div>
