{% extends "TVChefBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ recipe.name }}
{% endblock %}

{% block chef_body %}
    <section class="recipe-single">
        <div class="container">
            
            {% if currentUser == recipe.author or is_granted('ROLE_ADMIN') %}
                <a class="btn" id="delete-btn" href="{{ path('tv_chef_recipe_delete', {'id': recipe.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a>
            {% endif %}
            <h2>{{ recipe.name }}</h2>
            <img class="img-recipe-single" src="{% if recipe.image.webPath is defined %}{{ asset(recipe.image.webPath) }}{%else%}{{ asset('chef/images/default.jpg') }}{%endif%}" alt="{% if recipe.image.alt is defined %}{{ recipe.image.alt }}{%else%}Default{%endif%}">
            <div class="infos">
                <p class="score">Note: 
                    {% if recipe.star != 0 %}
                        {% for i in 1..recipe.star %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endfor %}
                    {% endif %}
                </p>
                <div class="level-single">
                    <p>Difficulté: </p>
                    {% for i in 1..recipe.level.id %}
                        <img src="{{ asset('chef/images/level2.png') }}" alt="level">
                    {% endfor %}
                </div>
                <p>Posté par: {{ recipe.author }}</p>
            </div>
            <div class="responsive-clear"></div>
            <div class="guide">
                <h3 class="title-box">Guide de préparation</h3>
                <div class="content">
                    <div class="content-1-2">
                        <p class="first-p"><i class="fa fa-users" aria-hidden="true"></i> Nbr personne: {{recipe.nbOfPers}}</p>
                        <p class="last-p"><i class="fa fa-free-code-camp" aria-hidden="true"></i> Temps de cuisson: {{recipe.cookingTime}} min</p>
                    </div>
                    <div class="content-1-2 last">
                        <p class="first-p"><i class="fa fa-clock-o" aria-hidden="true"></i> Temps de préparation: {{recipe.preparationTime}} min</p>
                        <p class="last-p"><i class="fa fa-pause-circle-o" aria-hidden="true"></i> Temps de repos: {{recipe.timeout}} min</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="buttons">
                {% if currentUser == recipe.author or is_granted('ROLE_ADMIN') %}
                    <a class="btn" href="{{ path('tv_chef_recipe_edit', {'id': recipe.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifer recette</a>
                {% else %}
                    <a class="btn" href="{{ path('tv_chef_recipe_note', {'id': recipe.id}) }}"><i class="fa fa-star" aria-hidden="true"></i> Noter</a>
                    
                {% endif %}
                
                {% if currentUser.notebook is defined %}
                {% if recipe in currentUser.notebook.recipes %}
                        <a class="btn big btn-right" href="{{ path('tv_chef_notebook_delete', {'id': recipe.id}) }}"><i class="fa fa-book" aria-hidden="true"></i> Enlever du carnet</a>
                    {% elseif currentUser != recipe.author %}
                        <a class="btn big btn-right" href="{{ path('tv_chef_notebook_add', {'id': recipe.id}) }}"><i class="fa fa-book" aria-hidden="true"></i> Ajouter au carnet</a>
                    {% endif %}
                {% elseif currentUser != recipe.author %}
                    <a class="btn big btn-right" href="{{ path('tv_chef_notebook_add', {'id': recipe.id}) }}"><i class="fa fa-book" aria-hidden="true"></i> Ajouter au carnet</a>
                {% endif %}
                <a class="btn big" href="{{ path('tv_chef_liste_add', {'id': recipe.id}) }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Liste de course</a>
                <a class="btn btn-right last" href="{{ path('tv_chef_recipe_printable', {'id': recipe.id}) }}"><i class="fa fa-print" aria-hidden="true"></i> Imprimer</a>
            </div>
            <div class="clearfix"></div>

            <h2>Ingrédients: </h2>
            
            <aside class="timers-box">
                <h3 class="title-box">Minuteurs:</h3>
                <div class="timers">
                    {% for step in recipe.steps %}
                        {% if step.timer != 0 %}
                            <i class="fa fa-play-circle btn-timer paused launched" aria-hidden="true"></i>	
                            <p id="timer1" class="timer first-p" data-timer-seconds="{{ step.timer }}"> </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </aside>

            <div class="ingredients">

                {% for ingredient in recipe.ingredients %}
                    {% if loop.index==1 or loop.index%6==0 or loop.index%11==0%}<ul>{% endif %}
                        <li>
                            - {{ ingredient.quantity }}{% if ingredient.typequantity is not null %}{{ ingredient.typequantity.name }}{% endif %} {{ ingredient.name }}
                            {% if currentUser == recipe.author or is_granted('ROLE_ADMIN') %}
                                <a class="btn little blue" href="{{ path('tv_chef_ingredient_edit', {'id': ingredient.id, 'id_recipe': recipe.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a class="btn little red" href="{{ path('tv_chef_ingredient_delete', {'id': ingredient.id, 'id_recipe': recipe.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            {% endif %}
                        </li>
                    {% if loop.index == 5 or loop.index%5==0 or loop.last%}</ul>{% endif %}
                {% endfor %}

                <div class="clearfix"></div>
            </div>
            {% if currentUser == recipe.author or is_granted('ROLE_ADMIN') %}
                <a class="btn bottom" href="{{ path('tv_chef_ingredient_add', {'id': recipe.id}) }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter ingrédient</a>
            {% endif %}
            
            <div class="steps">
                <h2>Etapes: </h2>
                {% set count = 0 %}
                {% for step in recipe.steps %}
                    {% set count = count + 1 %}
                    <div class="step">
                        <h4>Etape {{count}} - {{ step.name }}
                            {% if currentUser == recipe.author or is_granted('ROLE_ADMIN') %}
                                <a class="btn little blue" href="{{ path('tv_chef_step_edit', {'id': step.id, 'id_recipe': recipe.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a class="btn little red" href="{{ path('tv_chef_step_delete', {'id': step.id, 'id_recipe': recipe.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            {% endif %}
                        </h4>
                        
                        {% if step.image.webPath is defined %}
                            <img class="img-step" src="{{ asset(step.image.webPath) }}" alt="{{ step.image.alt }}">
                        {% endif %}
                        {% if step.video is not empty %}<div class="clearfix"></div> <iframe src="{{ step.video }}" allowfullscreen></iframe> {% endif %}
                        <p>{{ step.content }}</p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                {% endfor %}
                
                {% if currentUser == recipe.author or is_granted('ROLE_ADMIN') %}
                    <a class="btn" href="{{ path('tv_chef_step_add', {'id': recipe.id}) }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter étape</a>
                {% endif %}
                    
            </div>
        </div>
    </section>
               
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('chef/js/timers.js') }}" type="text/javascript"></script>
 {% endblock %}
