{% extends "TVChefBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Cuistots
{% endblock %}

{% block chef_body %}
    
    <section class="profil">
        <div class="container">
            <div class="polaroid cuistot-single">
                <img src="{% if user.image.webPath is defined %}{{ asset(user.image.webPath) }}{%else%}{{ asset('chef/images/user-default.jpg') }}{%endif%}" alt="{%if user.image.alt is defined%}{{ user.image.alt }}{%else%}Default{%endif%}" />
                <h3>{{ user.username }}</h3>
            </div>
            <div class="infos">
                <ul>
                    <li>Niveau: {% if user.level.name is defined %} {{ user.level.name }} {% else %} Incomplet {% endif %}</li>
                    <li>Note: 
                    {% if user.star != 0 %}
                        {% for i in 1..user.star %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endfor %}
                    {% endif %}
                    <li>Recettes réalisés: {{ user.recipes|length }}</li>
                    <li>Followers: {{ user.followeds|length }}</li>
                </ul>

                <div class="buttons">
                    <a id="btn-recipes" class="btn" href="{{ path('tv_user_my_recipes', {'id': user.id}) }}"><i class="fa fa-book" aria-hidden="true"></i> Voir mes recettes</a>
                    {% if currentUser == user %}
                    <a class="btn" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier profil</a>
                    <a class="btn" href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Supprimer compte</a>
                    
                    {% else %}
                    <a class="btn" href="{{ path('tv_user_note', {'id': user.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Noter</a>
                    <a class="btn" href="{{ path('tv_user_follow_add', {'id': user.id}) }}"><i class="fa fa-share" aria-hidden="true"></i> Me suivre</a>
                    {% endif %}
                    
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="description">
                <h3 class="big-h3">Descriptif: </h3>
                <p>{{ user.content }}</p>
            </div>
        </div>
    </section>      
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('chef/js/my-recipes.js') }}"></script>
{% endblock %}
