{% extends "TVChefBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Ajouter ingrédient
{% endblock %}

{% block chef_body %}
    <section  class="recipe-single form">
        <div class="container">
            <h2 class="center">Ajouter un ingrédient</h2>
                {{ form_start(form, {'attr': {'class': 'form'}}) }}
                    <div class="error">
                        {{ form_errors(form) }}
                    </div>
                    
                    <div class="ingredient_form">
                        <div class="ingredient_input input_little">
                            <p>{{ form_label(form.quantity, "Quantité: ", {'label_attr': {'class': ''}}) }}<p>
                            {{ form_widget(form.quantity, {'attr': {'class': 'nbr'}}) }}
                        </div>

                        <div class="ingredient_input">
                            <p>{{ form_label(form.typequantity, "Type de Quantité: ", {'label_attr': {'class': ''}}) }}<p>
                            {{ form_widget(form.typequantity, {'attr': {'class': ''}}) }}
                        </div>

                        <div class="ingredient_input input_big">
                            <p>{{ form_label(form.name, "Nom: ", {'label_attr': {'class': ''}}) }}<p>
                            {{ form_widget(form.name, {'attr': {'class': ''}}) }}
                        </div>
                        
                        {{ form_widget(form.save, { 'label': 'Modifier ingrédient', 'attr' : {'class': 'btn' }}) }}
                    </div>
                {{ form_end(form) }}
        </div>
    </section>
{% endblock %}